.seats-selector {
    position: relative;
}

.seats-selector > table {
    display: inline-block;
    position: relative;
    background-color: whitesmoke;
}

.selected-seats {
    display: inline-block;
    position: absolute;
    top: 0;
    margin-left: 10px;
}
